@import './variables.css';
@import './layout.css';
@import './buttons.css';

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: var(--padding);
  background: var(--primary-bg);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.result-container h2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--primary-color);
  text-shadow: 1px 1px 2px #d1d9e6, -1px -1px 2px #ffffff;
}

.result-container p {
  font-size: var(--font-size-medium);
  font-weight: 500;
  color: var(--secondary-color);
}
