.chart-container {
    position: relative;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    background-color: #eeeeee;
    border-radius: 16px;
    margin-top: 20px;
  }
  
  .chart-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  /* Media Queries para Responsividade */
  @media (max-width: 768px) {
    .chart-container {
      height: 250px;
      width: 250px;
    }
  }
  
  @media (max-width: 480px) {
    .chart-container {
      height: 200px;
      width: 200px;
    }

    .content p {
        font-size: 10pt; /* Ajustar tamanho do texto para 10pt em telas muito pequenas */
      }
  }
  