.home-container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(120deg, #c3d4edb3 25%, #f0f0f3 75%), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/wcAAwAB/EPJvK0AAAAASUVORK5CYII=);
  background-size: cover;
}


.content {
  position: relative;
  z-index: 1;
  color: #262626;
  text-align: left;
  max-width: 600px;
  padding: 20px;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

small {
  color: rgb(180, 171, 111);
  margin-left: 10px;
  font-size: 9pt;
  font-style: italic;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  opacity: 0;
  animation: fadeIn 1s ease forwards 0.5s;
}

.logo {
  width: 50px;
  margin-bottom: 20px;
  background: linear-gradient(45deg, #f0f0f0, #c0c0c0, #f0f0f0);
  background-size: 200% 200%;
  -webkit-mask: url('../../assets/logos/logo-w.svg') no-repeat center;
  mask: url('../../assets/logos/logo-w.svg') no-repeat center;
  mask-size: contain;
}

/* Animações */
@keyframes shine {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes blinkCaret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.caret {
  display: inline-block;
  width: 0.15em;
  background-color: orange;
  margin-left: 2px;
  animation: blinkCaret 0.75s step-end infinite;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #787c98;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  border-right: none;
}

.content p {
  font-size: 12pt;
  margin-bottom: 20px;
  color: rgba(139, 139, 139, 0.632);
  opacity: 0;
  animation: fadeIn 1s ease forwards 1s;
}

.input-container {
  margin-bottom: 20px;
}

.input-text {
  width: 80%;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid rgb(80, 136, 185);
  font-size: 16px;
  transition: all 0.3s ease;
  background: #dee6f1;
  border-radius: 10px;
  padding-left: 10px;
  font-weight: bold;
  color: rgb(93, 91, 91);
  box-shadow: 5px 5px 10px #babecc, -5px -5px 10px #ffffff;
}

.input-text-active {
  border-bottom: 2px solid green;
}

.input-text:hover {
  border-bottom-width: 5px;
}

.input-select {
  width: 40%;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid rgb(80, 136, 185);
  font-size: 16px;
  transition: all 0.3s ease;
  margin-top: 20px;
  color: rgb(141, 139, 139);
  background: #dee6f1;
  border-radius: 10px;
  padding-left: 10px;
  box-shadow: 5px 5px 10px #babecc, -5px -5px 10px #ffffff;
}

.input-select-active {
  border-bottom: 3px solid green;
}

.input-select:hover {
  border-bottom-width: 6px;
}

.main-button {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, background 0.3s ease;
  opacity: 0;
  animation: fadeIn 1s ease forwards 1.5s;
}

.main-button.active {
  background: #3b82f6;
  color: white;
  box-shadow: 4px 4px 8px #2c6bc1, -4px -4px 8px #4b9afc;
}

.main-button.inactive {
  background: #ccc;
  color: #666;
  box-shadow: none;
  cursor: not-allowed;
}
