/* src/App.css */

/* App.css ou o arquivo de estilo principal */
.app {
  font-family: Arial, sans-serif;
  background: linear-gradient(to top left, #d1dae8, #ffffff);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


  .fade-enter {
    opacity: 0;
    z-index: 1;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-out;
  }
  